{{ form_start(form) }}
{{ form_row(form.q) }}


{% if app.user and app.user.isPremium == true %}
        <h4>categories</h4>
        {{ form_row(form.categories) }}
{% endif %}

<button type="submit" class="btn btn-primary w-100"> Apply</button>
{{ form_end(form) }}


