{% extends 'layouts/base.html.twig' %}

{% block title %}{{ 'Create Pic'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'New Pic'|trans }}</h1>

{{ include('pictures/_form.html.twig', {submitButtonText: 'Create a pic' }) }}

{% endblock %}