{% extends 'layouts/base.html.twig' %}

{% block title "New picture" %}

{% block body %}

    <h1>Create picture</h1>

{{ include('pictures/_form.html.twig', {submitButtonText: 'Create Picture'}) }}

{% endblock %}