{% extends 'layouts/base.html.twig' %}

{% block title "New Pic" %}

{% block body %}

    <h1>New Pic</h1>

{{ include('pictures/_form.html.twig', {submitButtonText: 'Create a Pic'}) }}

{% endblock %}