{% extends 'layouts/base.html.twig' %}

{% block title 'Edit profil ' ~ app.user.fullName %}

{% block body %}

    <h1>Edit Profil #{{ app.user.firstname }}</h1>

    {{ include('profil/_form.html.twig', {submitButtonText: 'Update Profil'}) }}


{% endblock %}