@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import '../shared/variables';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/@fortawesome/fontawesome-free/css/solid.css';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

body {
  font-family: $primary-font, sans-serif;
}

/*
################ PAGINATION
*/

.style_page {

  .pagination span {

    @extend .col-1;

  }

  .pagination span a {

    @extend .text-muted, .text-decoration-none;

  }

}
/*#############################
############# DIVER CSS #########
###############################*/

/*
################ FLASH MESSAGE
*/

.alert {

  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 0;
  margin: 0;
  border: none;

  &.alert-success {

    background-color: green;
  }
  &.alert-error {

    background-color: red;
  }
  &.alert-info {

    background-color: blue;
  }

}

/*#############################
############# MAIN CSS #########
###############################*/

.main-content {
  margin-top: 90px;
}

/* ###################################
##############  INDEX PICTURE  ########
####################################### */

/*
################ DIV IMG +  TITLE + DESCRIPTION
*/

.vich-image {

  .form-check {

    @extend .mt-3;
  }

  img {

    @extend .mb-2, .rounded, .shadow, .img-thumbnail;

  }

}

/* ####################################
##############  NAV BAR    #############
####################################### */

// NAV POS FIXED
.nav-fixed {
  position:fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  z-index:99;
  background:white;
}

/* #########################################################
##############  PAGE PICTURE SHOW ##########################
############################################################ */


// PROFIL USER COMMENT

.card {
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px
}

.dots {
  height: 4px;
  width: 4px;
  margin-bottom: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block
}

.badge {
  padding: 7px;
  padding-right: 9px;
  padding-left: 16px;
  box-shadow: 5px 6px 6px 2px #e9ecef
}

.user-img {
  margin-top: 4px;
  width: 10%;
}

.check-icon {
  font-size: 17px;
  color: #c3bfbf;
  top: 1px;
  position: relative;
  margin-left: 3px
}

.form-check-input {
  margin-top: 6px;
  margin-left: -24px;
  cursor: pointer
}

.form-check-input:focus {
  box-shadow: none
}

/*##############################################################################################################################################
################ ANIMATIONS ##################################################################################################################
####################################################################################################################################################*/

/*
################ ANIMATION PICTURE / ZOOM
*/

.picture img {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.075);
  }

}

/* ####################################################
##############  ANIM NAVIGATION #######################
####################################################### */

// ZOOM ICON NAV
.zoom {
  transition: transform .2s;
}
.zoom:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}




/* ####################################################
##############  ANIM COMMENT ##########################
####################################################### */

/*
################ DIV WINDOWS SCROLL LIST COMMENT
*/

.scroll-comments {
  max-height: 500px;
  overflow-y: scroll;
}

