{% extends 'layouts/base.html.twig' %}

{% block title "Premium Cancelled" %}

{% block body %}


    <div class="row">
        <div class="col-md-6 mx-auto">

            <h1 data-aos="zoom-in" class="my-5 text-center">The <a href="{{ path('app_subscriber_status') }}" target="_blank"><span>subscription</span> </a> will end at the end of the programmed period.</h1>



        </div>
    </div>



{% endblock %}