{% extends 'layouts/base.html.twig' %}

{% block title "Premium Error" %}

{% block body %}

    <h1>Premium Error</h1>
    <section>
        <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    </section>


{% endblock %}