{% extends 'layouts/base.html.twig' %}

{% block title "subscriber Reactivating Cancelled" %}

{% block body %}


    <div class="row">
        <div class="col-md-6 mx-auto">


            <h1 data-aos="fade-left" class="my-5 text-center">Congratulations, </h1>
            <h2 data-aos="fade-right" class="mb-5 text-center text-muted"> <a href="{{ path('app_subscriber_status') }}" target="_blank"><span>PicBak Plus</span> </a>has been reactivated.</h2>


        </div>
    </div>



{% endblock %}