{% extends 'layouts/base.html.twig' %}

{% block title "Premium Cancelled" %}

{% block body %}


    <section>
        <p>

            subscription canceled
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </p>
    </section>


{% endblock %}