{% extends 'layouts/base.html.twig' %}

{% block title "subscriber Reactivating Cancelled" %}

{% block body %}


    <div class="row">
        <div class="col-md-6 mx-auto">


            <h1 class="my-5 text-center">Congratulations, your subscription has been reactivated.</h1>


        </div>
    </div>



{% endblock %}