{% extends 'layouts/base.html.twig' %}

{% block title %}  {{ 'subscriber Reactivating Cancelled'|trans }} {% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-6 mx-auto">


            <h1 data-aos="fade-left" class="my-5 text-center">{{ 'Congratulations,'|trans }} </h1>
            <h2 data-aos="fade-right" class="mb-5 text-center text-muted"> <a href="{{ path('app_subscriber_status') }}" target="_blank"><span>PicBak Plus</span> </a>{{ 'has been reactivated.'|trans }}</h2>


        </div>
    </div>



{% endblock %}