{% extends 'layouts/base.html.twig' %}

{% block title "Premium success" %}

{% block body %}




    <div class="row">
        <div class="col-md-6 mx-auto">

            <h1 class="my-5 text-center">Congratulations you have PicBak Plus</h1>
            <p class="mb-5 text-center text-muted"><3</p>
        </div>
    </div>



{% endblock %}